<div id="map_container">
    <div id="map_canvas"></div>
    <div class="cover-map">
        <div class="content-map"><img src="images/map.png" alt="" /></div>
        <div class="mm-open">Ouvrir <i class="fa fa-angle-down"></i></div>
        <div class="mm-close">Fermer <i class="fa fa-angle-up"></i></div>
    </div>
</div>