    <div id="breadcrumb" class="col-xs-12">
        <a href="#" class="show-sidebar">
            <i class="fa fa-bars"></i>
        </a>
        <ol class="breadcrumb pull-left">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Dashboard</a></li>
        </ol>
        <div id="social" class="pull-right">
            <a target="_blank" href="http://stackoverflow.com/users/2788131/d4v1d?tab=profile"><i class="fa fa-stack-overflow"></i></a>
            <a target="_blank" href="https://www.linkedin.com/profile/view?id=145145986"><i class="fa fa-linkedin"></i></a>
            <a target="_blank" href="https://www.github.com/stevedavid/"><i class="fa fa-github"></i></a>
        </div>
    </div>
