body {
    overflow: hidden;
}

.box-img {
    /*height: 399px;*/
    vertical-align: middle;
}

.box-img > img {
    display: inline-block;
    margin: auto;/*
    margin-top: -25%;
    margin-bottom: -25%;*/
    vertical-align: middle;
}

.parallax1 {
    background-image :url(../images/php-code.jpg); 
}

#prez-box-1,
#prez-box-2,
#prez-box-3,
#prez-box-4 {
    padding-bottom: 20px;
    padding-top: 20px;
    height: 213px;
}

#prez-box-1,
#prez-box-3 {
    margin-bottom: 30px;
}

#prez-box-2,
#prez-box-4 {
    height: 253px ;
}


h2 {
    margin-bottom: 15px;
}

div#owl-demo div.item div.carousel-desc p:not(.nm-name) {
    quotes: "\201C""\201D""\2018""\2019";
    /*text-indent: -20px;*/
}

div#owl-demo div.item div.carousel-desc p:not(.nm-name):before,
div#owl-demo div.item div.carousel-desc p:not(.nm-name):after {
    color: #ccc;
    font-size: 4em;
    line-height: 0.1em;
    margin-top: 0.5em;
    vertical-align: -0.4em;
}

div#owl-demo div.item div.carousel-desc p:not(.nm-name):before {
    content: open-quote;
}

div#owl-demo div.item div.carousel-desc p:not(.nm-name):after {
    content: close-quote;
}

div.parallax1 div.overlay {
    /*padding-top: 10px;*/
    /*padding-bottom: 10px;*/
}

#section3 > div.container {
    margin-bottom: 100px;
}

ul.albumFilter li a {
    text-transform: uppercase;
}

#section6 {
    background-color: #555555;
}

#section6 footer.box-content {

    padding-bottom: 50px;
    padding-top: 50px;
}

.parallax2 {
    background-image: url('../images/code-2.jpg');
}

.list-experiences {
    margin-bottom: 20px;
}

.list-experiences.col-md-9 h2 {
    border-bottom: 1px dotted #4e4e4e;
    opacity: 0.75;
}

.list-experiences.col-md-9 h2 i:nth-child(2) {
    border-left: 1px dotted #4e4e4e;
}

.list-experiences h2 i:nth-child(2) {
    padding-left: 10px;
    margin-left: 5px;
    border-left: 1px solid #212121;
}

.owl-carousel div.item i.fa {
    font-size: 18px;
    color: #fff;
}



.modal-content,
.modal-content button {
    border-radius: 0 !important;
}

.cover-map {
    overflow: hidden;
}

figure,
.list-experiences,
.c-info,
.content-map {
    opacity: 0;
}

figcaption:hover {
    border: 1px dotted #858585;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

figcaption {
    border: none;
}

.grid figure figcaption p {
    margin-top: 0;
    /*margin-top: 40px;*/
    height: 100%;
    line-height: 100%;
    display: table;
    height: 100%;
    width: 100%;
    min-height: 100%;
}
.grid figure figcaption p span {
    /*margin-top: 40px;*/
    vertical-align: middle;
    display: inline-block;
    display: table-cell;
    text-align: center;
    /*line-height: 193px;*/
}

.list-experiences {
    opacity: 0;
}

#rea-modal img#rea {
    border: 10px solid #ccc;
}

#rea-modal #link-to-rea {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 16px;
}

a.nice-link:link, a.nice-link:visited {
    color: black;
    border-bottom: 1px dotted black;
}


a.nice-link:active, a.nice-link:hover {
    color: black;
    border-bottom: none;
    text-decoration: none;
}

a.nice-link:after {
    content: "\f08e";
    display: inline-block;
    margin-left: 10px;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

#mon-metier {
    padding-top: 10px;   
}

#logo-header {
display: block;
text-transform: uppercase;
font-weight: 100;
height: 25px;
font-size: 28px;
margin-top: 10px;
letter-spacing: 7px;
}

#logo-footer {
display: block;
text-transform: uppercase;
font-weight: 900;
font-size: 32px;
letter-spacing: 4px; 
margin-left: 1px;   
}

textarea {
    resize: none;
}

.no-opacity {
    opacity: 0;
}

.input-group-addon {
    height: 34px !important;
    padding-top: 0;
    border-radius: 0;
    background-color: #F4F4FF;
}

.input-group {
    margin-bottom: 38px;
}

.form-group.has-feedback {
    /*height: 34px !important;*/
}

span.input-group-addon {
    height: 20px !important;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

span.input-group-addon.active {
    border-color: black;
}

input {
    margin-top: 0 !important;
}

form {
    margin-top: 20px;
    display: inline-block;
    width: 100%;
}

.footer-social a img {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(-45deg);
}

.footer-social a i.fa,
.footer-social a img {
    position: relative;
    top: 5px;
}

.form-error {
    border-color: #a94442 !important;
}

.form-warning {
    border-color: #8a6d3b !important;
}

#form-response {
    height: 22px;
}

.email-rtl {
    unicode-bidi: bidi-override;
    direction: rtl;
}

.email-rtl i {
    margin-right: 0 !important;
}

.contact .c-info i.fa-at {
    color: #616265;
    background: #fff;
    border: none;
    padding: 0;
    margin-right: 0;
}

.about {
    padding-top: 100px !important;
}

header nav .menu li {
    padding-left: 15px;
    padding-right: 15px;
}

.parallax3 {
    background: url("../images/bash.jpg") no-repeat fixed center center / cover transparent;
    width: 100%;
    float: left;
}

#competences-chart {
    color: #F4F4FF !important;
}

.parallax3 .overlay-white {}

div.easy-pie {
    display: inline-block;
    margin: 10px;
    width: 100px;
}

#scroll-competences .box-text {
    text-align: center;
    margin-bottom: 100px;
    height: auto;
}

.tooltip-inner {
    border-radius: 0;
}

#parcours-choice {
    margin: auto;
    margin-bottom: 20px;
}

#parcours-choice > div > a {
    border: 1px solid black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    color: black;
}

#parcours-choice > div > a.selected {
    background-color: #e1e2e5;
}

#parcours-choice > div > a:hover {
    background-color: black;
    color: white;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#parcours-choice > div > span > i {
    display: inline-block;
    margin-right: 10px;
}

.list-experiences h3 span.data {
    font-size: 13px;
    font-family: 'Open sans',sans-serif;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 1px;
    font-style: italic; 
}

.list-experiences.col-md-9 h3 span.data {
    opacity: 0.75;
}

.list-experiences h3 {
    margin-bottom: 20px;
    margin-top: 10px;
}

.download-cv {
    color: #616265;
}

.download-cv:hover {
    text-decoration: none;
    color: #616265;
}

.download-cv > div {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.download-cv:hover > div {
    background-color: #e1e2e5;
}

@media screen and (max-width: 991px) {
    #prez-box-2, 
    #section1 .box-img {
        margin-bottom: 30px;
    }

    #section3 .col-md-4 .box-img {
        height: auto !important;
    }

    #section3 .col-md-4 .box-img:first-child,
    #section3 .col-md-4 .box-text {
        margin-bottom: 30px;
    }

    .about {
        padding-top: 150px !important;
    }

    .skills-area .box-text {
        margin-top: 30px;
    }
}

/*#rea-modal #description div.box-text:nth-child(n+3) p,
#rea-modal #description div.box-text:nth-child(n+3) h2 {
    text-align: center;
    background: red;
}*/

